@tailwind base;
@tailwind components;
@tailwind utilities;


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html
{
  background: gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%) 

}